@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  outline: #4caf50 solid 1px;
} */

.bg-gradient-to-r1:hover {
  background-image: linear-gradient(to right bottom, var(--tw-gradient-stops));
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right bottom, var(--tw-gradient-stops));
}
